.body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  header {
    background: lightcyan;
  }
  main {
    background: lightgoldenrodyellow;
  }
  footer {
    background: lightseagreen;
  }
}
