$color-text-dark: #403f3d;
$color-text-light: #e1d4c9;
$color-text-accent: #b0907a;
$color-background-body: #e1d4c9;
$color-background-container: #665f55;
$color-background-backdrop: rgba(64, 63, 61, 0.8);
$color-border-light: #c1b6ad;
$color-border-dark: #665f55;

$font-family: "Inter", sans-serif;
