@import "./variables";

.footer {
  border-radius: 40px;
  background: $color-border-dark;
  padding: 60px 16px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;

  .h2 {
    color: $color-border-light;
    margin-bottom: 40px;
  }
  .content-block {
    max-width: 315px;
    display: flex;
    flex-direction: column;
  }
  .social-media {
    display: flex;
    gap: 12px;

    a {
      display: flex;
      width: 60px;
      height: 60px;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 1px solid $color-border-light;

      &:hover {
        background: $color-background-body;
        border: 1px solid $color-background-body;

        svg {
          filter: invert(92%) sepia(17%) saturate(213%) hue-rotate(335deg)
            brightness(92%) contrast(92%);
        }
      }
    }
  }

  .h4 {
    color: $color-text-light;
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
    margin: 0px 0 40px;
  }

  .contats-line {
    display: flex;
    gap: 8px;
    color: $color-text-light;
    text-decoration: none;
    width: fit-content;

    &::after {
      background-color: $color-background-body;
    }
  }
  .location {
    margin-bottom: 20px;
  }
  .contacts-phone {
    margin-bottom: 20px;
  }
}

@media (width>766px) {
  .footer {
    padding: 100px 60px;
    gap: 100px;

    .content-block {
      max-width: 568px;
    }
  }
}

@media (width>1438px) {
  .footer {
    padding: 100px;
    .content-block {
      max-width: 530px;
    }
  }
}
