@import "./variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  .logo {
    width: 100px;
    height: 60px;
    position: relative;

    .round {
      position: absolute;
      top: 6px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
    }

    .name {
      position: absolute;
      top: 12px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }
    .text {
      position: absolute;
      top: 48px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .navigation {
    display: none;
    gap: 40px;
    align-items: center;
    list-style: none;

    a {
      text-decoration: none;
      color: $color-text-dark;
      font-size: 16px;
      font-weight: 600;
    }
  }

  .go-menu-link {
    display: none;
    gap: 8px;
    align-items: center;
    text-decoration: none;
    color: $color-text-dark;
    font-size: 16px;
    font-weight: 600;
  }
  .go-menu-link.active {
    pointer-events: none;
    cursor: default;

    &::after {
      width: 100%;
    }
  }
}
.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  height: 44px;
  width: 44px;
  border-radius: 100px;
  border: 1px solid $color-border-dark;
}

.burger-menu.open .bar:nth-child(1) {
  transform: rotate(-405deg) translate(-3px, 3px);
}

.burger-menu.open .bar:nth-child(2) {
  transform: rotate(405deg) translate(-4px, -4px);
}

.bar {
  width: 18px;
  height: 2px;
  background: $color-border-dark;
  transition: 0.4s;
}

@media (width>766px) {
}

@media (width>1438px) {
  .burger-menu {
    display: none;
  }
  .header {
    .navigation {
      display: flex;
    }
    .go-menu-link {
      display: flex;
    }
  }
}
