@import "variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;

  .logo {
    width: 100px;
    height: 60px;
    position: relative;

    .round {
      position: absolute;
      top: 6px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
    }

    .name {
      position: absolute;
      top: 12px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }
    .text {
      position: absolute;
      top: 48px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .navigation {
    display: flex;
    gap: 40px;
    align-items: center;
    list-style: none;

    a {
      text-decoration: none;
      color: $color-text-dark;
      font-size: 16px;
      font-weight: 600;
    }
  }

  .go-menu-link {
    display: flex;
    gap: 8px;
    align-items: center;
    text-decoration: none;
    color: $color-text-dark;
    font-size: 16px;
    font-weight: 600;
  }
}
