@import "./variables";

.herro {
  background: $color-background-container;
  width: 100%;
  padding: 60px 16px;
  background: url("/resource-coffee-house/img/img-hero.jpg") center/cover
    no-repeat;
  border-radius: 40px;
}

.herro-wrapper {
  max-width: 530px;
  color: $color-text-light;

  .h1-home {
    font-size: 72px;
    font-size: 42px;

    font-weight: 600;
    line-height: 105%;

    span {
      color: $color-text-accent;
      font-style: italic;
    }
  }

  p {
    margin: 40px 0;
  }
}

@media (width>766px) {
  .herro {
    padding: 100px;
  }

  .herro-wrapper {
    .h1-home {
      font-size: 72px;
    }
  }
}

@media (width>1438px) {
}
